<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/singular-views.css" type="text/css">
<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/companies">Companies</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/accounts/new">Create Account</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<body>
  <div class="job-info">
    <h1>@Model.GetTitle()</h1>
    <h2>@Model.GetDescription()</h2>
  </div>
    <a href="/jobs/@Model.GetId()/keywords" role="button" class="btn btn-primary">Get keywords associated with jobs like this</a>
  <div class="jumbotron">
    <h1>Update This Job</h1>
    <form class="form-group" action="/jobs/@Model.GetId()/@Model.GetTitle()/updated" method="post">
      <input type="hidden" name="_method" value="PATCH">

      <input type="hidden" name="category-id" value="@Model.GetCategoryId()">
      <input type="hidden" name="company-id" value="@Model.GetCompanyId()">
      <h2>Title<input required type="text" name="job-title" class="form-control" value="@Model.GetTitle()"></h2>
      <h2>Description<input required type="text" name="job-description" class="form-control" value="@Model.GetDescription()"></h2>
      <h2>Salary<input required type="number" name="job-salary" class="form-control" id="last-input" value="@Model.GetSalary()"></h2>
      <button type="submit" class="btn btn-success">Update Job</button>
    </form>
    <form class="form-group" action="/jobs/@Model.GetId()/@Model.GetTitle()/deleted" method="post">
      <input required type="hidden" name="_method" value="DELETE">
      <button type="submit" name="button" class="btn btn-danger">Delete Job</button>
    </form>


    <form class="form-group" action="/jobs/@Model.GetId()/keywordinfo" method="post">
      <h2 for="keyword">Keyword</h2>
      <input required type="text" name="keyword" class="form-control">
      <button class="keyword-search btn btn-warning" type="submit">Submit</button>
    </form>
  </div>
</body>
